.py-4 {
	margin-bottom: 50px;
}

.container h1 {
	width: 100%;
	margin: 20px 0;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

div.flex{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 2vh;
	flex-wrap: wrap;
	border-bottom: 1px solid #eee

}

.flex .row {
	justify-content: center;
}

div.index {
	display: flex;
	flex-direction: column;
	line-height: 150%;
  	border-radius: 10px;
  	box-shadow: -1px 3px 18px 1px rgba(0, 109, 240, 0.47);
  	-webkit-box-shadow: -1px 3px 18px 1px rgba(0, 109, 240, 0.47);
	-moz-box-shadow: -1px 3px 18px 1px rgba(0, 109, 240, 0.47);
	background-color: #fff;
	
}

div.index:hover {
	box-shadow: -2px 10px 14px 4px rgba(0, 109, 240, 0.68);
    -webkit-box-shadow: -2px 10px 14px 4px rgba(0, 109, 240, 0.68);
	-moz-box-shadow: -2px 10px 14px 4px rgba(0, 109, 240, 0.68);
	background-color: #fff;
}

div.hover {
	display: flex;
	flex-direction: column;
	line-height: 150%;
  	border-radius: 10px;
  	box-shadow: -1px 3px 18px 1px rgba(16, 16, 16, 0.47);
  	-webkit-box-shadow: -1px 3px 18px 1px rgba(16, 16, 16, 0.47);
	-moz-box-shadow: -1px 3px 18px 1px rgba(16, 16, 16, 0.47);
	background-color: #fff;
}

div.hover:hover {
	box-shadow: -2px 10px 14px 4px rgba(16, 16, 16, 0.68);
    -webkit-box-shadow: -2px 10px 14px 4px rgba(16, 16, 16, 0.68);
	-moz-box-shadow: -2px 10px 14px 4px rgba(16, 16, 16, 0.68);
	background-color: #fff;
}



.index p {
	display: inline-block;
    margin-top: 20px;
    background-color: #006df0;
    color: white;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 5px;
    line-height: 1.5;
    border-radius: 5px;
}

.link-container {
		display: flex;
	  width: 256px;
    height: 166px;
    align-items: center;
    justify-content: center;

}

.imgIndex {
	width: 128px;
}

.contactcomImg {
	width: 160px;
}

.invalid-input {
	font-weight: bolder;
	font-size: 80%;
	color: #dc3545;
}

.button {
	margin-top: 20px;
}

.footer {
	display: flex;
	background-color: #343a40;
	color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	align-items: center;
	z-index: 5;
	
}

.fondo_modal {
	width: 100%;
	height: 100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0px;
	z-index: 999;
	cursor: auto;
}

.newModal {
	position: relative;
	clear: both;
	display: flex;
}

.newModal img{
	width: 50px;
	height: 50px;
}


.fondo_modal .newModal .fa-times {
	position: absolute;
	right: 15px;
	top: 10px;
	z-index: 10;
	pointer-events: auto;
}

