.info {
	box-shadow: -1px 3px 18px 1px rgba(0,0,0,0.58);
    -webkit-box-shadow: -1px 3px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 3px 18px 1px rgba(0,0,0,0.58);
	border: 0px;
}

.ticketOpen {
	padding: 20px !important;
    color: red;
    margin-bottom: 10px;
}

.ticketOpen img {
	width: 125px;
	height: 40px;
}

.ticketOpen .atento-img {
	width: 125px;
	height: 100px;
}

.ticketOpen .konecta-img {
	width: 125px;
	height:25px;
}

.ticketOpen p {
	align-self: center;
}

.details{
	overflow-y: scroll;
}