.info {
	box-shadow: -1px 3px 18px 1px rgba(0,0,0,0.58);
    -webkit-box-shadow: -1px 3px 18px 1px rgba(0,0,0,0.58);
	-moz-box-shadow: -1px 3px 18px 1px rgba(0,0,0,0.58);
	border: 0px;
}

.ticketOpen {
	display: flex;
	justify-content: space-between;
	padding: 20px 50px!important;
	color: red;
	margin-bottom: 10px;
}

.ticketOpen img {
	width: 125px;
	height: 40px;
}

.ticketOpen .img-Konecta {
	width: 125px;
	height:25px;
}

.ticketOpen .h6 {
	display: flex;
	align-self: center;
}


.px200,
.state {
	max-width: 40px;
}


.title {
	max-width: 200px;
	
}

.btn-del {
	display: flex;
	margin: auto;
}


.details{
	overflow-y: scroll;
}
